	 -----
	 Release notes
	 -----
	 mprins
	 -----
	 2015-08-27
	 -----

~~ reference: http://maven.apache.org/doxia/references/apt-format.html


${project.name} ${project.version} Release Notes

  These are the release notes for ${project.name} version ${project.version}.

%{toc|section=1|fromDepth=2|toDepth=2}

* ${project.version} Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A${project.version}+is%3Aclosed}milestone ${project.version} }}.

  This release features Closure Compiler version ${project.properties.get("closure-compiler.version")}.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the (transitive) dependencies included for this release.

~~** New

~~   * Some integration tests were added

~~  []

** Enhancements and Fixes

  * Update Closure compiler to ${project.properties.get("closure-compiler.version")}, see:
    {{{https://github.com/google/closure-compiler/wiki/Releases}Closure Compiler Releases}}

~~  * update Maven dependencies and requirements

 []
 
* 2.1 Release Notes 

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.1+is%3Aclosed}milestone 2.1}}.
  
** Enhancements and Fixes

  * Update Closure compiler to v20160208, see:
    {{{https://github.com/google/closure-compiler/wiki/Releases}Closure Compiler Releases}}

* 2.0 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.0+is%3Aclosed}milestone 2.0}}.

** New

   * Some integration tests were added

  []

** Enhancements and Fixes

  * Update Closure compiler to v20151216

  * update to Java 7

  * update Maven dependencies and requirements

 []

* 1.0.1 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A1.0.1+is%3Aclosed}milestone 1.0.1}}.

** New

   * Initial release under the nl.geodienstencentrum.maven groupId

  []


** Enhancements and Fixes

  * Update Closure compiler to r2180

 []
